spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  flyway:
    enabled: false
  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 2000ms

keycloak:
  auth-server-url: http://localhost:8081
  realm: lazycord-test
  resource: lazycord-backend-test
  bearer-only: true
  ssl-required: external

logging:
  level:
    root: WARN
    com.lazycord: DEBUG
